.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-subtitle {
  max-width: 500px;
}

.main-bg {
  background-image: url('assets/bg/main-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.main-btns {
  display: flex;
  gap: 6px;
}

@media (max-width: 992px) {
  .main-img {
    width: 340px;
    height: 340px;
  }
}

@media (max-width: 768px) {
  .main-container {
    flex-wrap: wrap;
    margin-top: 64px;
    row-gap: 24px;
  }

  .main-img {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 520px) {
  .main-img {
    width: 350px;
    height: 350px;
  }
}
